body{
    background:$secondary-color;
}

.top-bar{
    height:60px;
	padding-top:8px;
	background: $primary-color;
}

.login-box{
    background:#ffffff;
	width:500px;
	padding:30px;
	margin-top:30px;
}

.icons{
	margin-top:20px;
	margin-bottom:20px;

	.fa{
		color:#ffffff;
		display:block;
		margin: auto;
		font-size:70px;
	}

	label{
		color:#ffffff;
	}
}